@page
@model RazorBoatApp2026F.Pages.Authentication.AccessDeniedModel
@{
    ViewData["Title"] = "Access denied";
}
<div class="card cardouter">
    <h1 style="color:red">Denne handling er kun tilladt efter login</h1>
</div>